.main {
    width: 100%;
    position: relative;
    display: flex;
}

.main-content {
    width: 70%;
    background-color: var(--color-white-100);
}

.main-container {
    padding: 32px;
}

.main-sidebar {
    width: 30%;
    padding: 32px;
    background-color: var(--color-white-200);
}